
/*general*/
html, body {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #58585a;
}
h1,h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #00acd6;
}
h3 {
    text-align: center;
    color: #00acd6;
}
h3:after {
    border-bottom: 1px solid #00acd6;
    content: "";
    width: 75px;
    height: 3px;
    display: block;
    margin: 0 auto;
}
h5 {
    margin-bottom: 15px;
    font-weight: bold;
    color: #00acd6;
}

/*menu*/
nav {
    font-size: 16px;
}
nav ul a {
    text-transform: uppercase;
}
footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

/*Haupt Seite*/


.hauptseite-bg {
    background-image: url("../images/background/mg_startbild@2x.jpg"); width: 100%; min-height: 500px; max-height: 600px;
} 


section p {
    margin-bottom: 25px;
}

.img-center {
    margin: 0 auto;
}
.col-md-6 p {
    margin-bottom: 22px;
}
.marcusBild {
    width: 400px;
    height: 300px;
}
.arrow {
    background-image: url(../images/bullet_arrow.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 11px 15px;
    padding-left: 1.6em;
    margin-bottom: 25px;
    color: #58585a;
    font-weight: bold;
}
.col-md-4 ul li {
    list-style: none;
    color: #58585a;
    font-weight: bold;
    margin-left: -33px
    margin-bottom: 15px;
}
.col-md-8 ul li {
    list-style: none;
    margin-left: -85px;
  /*  margin-bottom: 15px; */
}
.member img {
    width: 60%;
    height: 60%;
}
.member .arrow {
    margin-bottom: 2px !important;
    margin-left: 2%;
    text-transform: uppercase;
}
.member p{
    margin-left: 6%;
}

.praxis-leistungen {
    background-color: #f4f3f0;
}
.row .col-md-4 img {
    width: 50px;
    float: right;
    margin-bottom: 25px;

}
.row .col-md-8 p {
    font-weight: bold;
    color: #58585a;
    margin-bottom: 30px;
}
.row .col-md-4 hr {
    width: 100%;
    color: #B6A8A8;
    border: none;
    height: 1px;
    background-color: #B6A8A8;
}
.short-schrift-praxis {
    margin-top: 18px;
}
.bold-schrift {
    font-weight: bold;
    color: #58585a;

}
.kontact .row .col-md-4 figure img {
    margin-right: 50%;
    height: 50px;
    float: none;
    margin-left: 37%;
}
.kontact h4 {
    text-align: center;
    color: #00acd6;
    margin-right: 50px;
    margin-top: -10px;

}
.kontact span  {
    margin-left: 27%;
}
.kontact p {
    margin-left: 15%;
}
.kontact .col-md-4 h3 {
    color: #58585a !important;

}
.kontact .col-md-4 h3:after {
    border-bottom: none !important;
}
.sprechzeit p {
    font-weight: normal !important;
}
.sprechzeit .bold-schrift {
    font-weight: bold !important;
}
.sprechzeit .col-md-8 p {
    margin-bottom: 20px;
}
/*Slider*/

section #mgSlider {
    margin-bottom: 60px;
}

img .previous {

}
img .next {

}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
/*Footer*/
.footer-info {
    background-color: #00acd6;
}
footer h4 {
    color: white;
    margin-top: 30px !important;
}

footer p {
    margin-bottom: 40px;
}
footer img {
    margin-top: 30px;
}


