/* General */
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #58585a;
}
body {
    position: relative;
}
h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #00acd6;
}
h1, h2 {
    font-size: 25px;
}
h2 {
    margin-top: 1px;
    margin-bottom: 45px;
    font-size: 25px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2:after {
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 3px;
    border-bottom: 2px solid #00acd6;
    content: "";
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #58585a;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h5 {
    margin-bottom: 15px;
    font-weight: bold;
    color: #00acd6;
}
em {
    color: #00acd6;
    font-style: normal;
    font-weight: bold;
}
hr {
    color: #cfd1d2;
}
.img-center {
    margin: 0 auto;
    width: 100%;
}
.text-center {
    text-align: center;
}
.container {
    max-width: 970px;
}
.arrow {
    background: url('../images/arrow.svg') no-repeat left center;
    background-size: 7px 10px;
    padding-left: 15px;
    font-weight: bold;
    color: #58585a;
}

/* Navigation */
nav {
    font-size: 16px;
}
nav.navbar {
    margin-bottom: 0;
    border: 0;
    min-height: 114px;
}
nav .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
nav .navbar-brand img {
    margin-top: 30px;
    margin-bottom: 30px;
}

nav.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
nav.navbar-default ul {
    margin-top: 50px;
}
nav.navbar-default .navbar-nav li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #8f8779;
    letter-spacing: 1.1px;
}
nav.navbar-default .navbar-nav li.active > a,
nav.navbar-default .navbar-nav li > a:hover,
nav.navbar-default .navbar-nav li > a:active {
    color: #00acd6 !important;
}
nav.navbar-default .navbar-nav li:last-child > a {
    padding-right: 0;
}

/* Header Image */
#header {
    margin-bottom: 35px;
    background-color: #fcf7f3;
    color: #ffffff;
}
#header p {
    margin-bottom: 0;
}
#header h4 {
    margin: 0 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #00323c;
    text-transform: uppercase;
}
#header h5 {
    margin: 0 0 3px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #00323c;
}
#header div.header-box-wrapper {
    position: absolute;
}
#header div.header-box {
    padding: 25px;
    max-width: 400px;
    background-color: #00acd6;
}
#header div.header-box-1 {
    margin-top: 45px;
    margin-bottom: 5px;
}
#header table:nth-of-type(1) {
    margin-bottom: 35px;
}
#header table > tbody > tr {
    border-top: 1px solid #ffffff;
}
#header table > tbody > tr:last-child {
    border-bottom: 1px solid #ffffff;
}
#header table > tbody > tr > td {
    padding-top: 3px;
    padding-bottom: 3px;
}
#header table > tbody > tr > td:nth-of-type(1) {
    width: 100%;
}
#header table > tbody > tr > td:nth-of-type(2) {
    background: url('../images/icon_phone_small.svg') no-repeat left;
    background-size: 13px 13px;
    padding-left: 25px;
    white-space: nowrap;
}

#carousel {
    margin-top: 50px;
    margin-bottom: 80px;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control {
    top: 50%;
    left: 0;
    width: 50px;
    margin-top: -25px;
}
.carousel-indicators {
    margin-bottom: -53px;
}
.carousel-indicators li {
    border: 1px solid #e6e5e1;
}
.carousel-indicators .active {
    background-color: #00acd6;
}
.stoerer {
    position: absolute;
    width: 15%;
    top: -8%;
    right: 3%;
    z-index: 1;
}

/* Team */
#team {
    margin-bottom: 40px;
}
#team img {
    margin-bottom: 40px;
}

/* Marcus Grunert */
#marcus table > tbody > tr > td {
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: top;
}
#marcus table > tbody > tr > td:nth-of-type(1) {
    padding-right: 20px;
    white-space: nowrap;
}

/* Employees */
#employees {
    margin-bottom: 70px;
}
#employees img {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
#employees h4 {
    margin-top: 35px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Leistungen */
#leistungen {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f4f3f0;
}
#leistungen h5 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-weight: bold;
    line-height: 125%;
    color: #58585a;
    border-bottom: 1px solid #D6D6D7;
}
#leistungen h5 > span.check {
    margin-right: 10px;
    width: 50px;
    height: 40px;
    background: url('../images/icon_check.svg') no-repeat left;
    background-size: 40px 40px;
}
#leistungen .col-md-4 {
    margin-bottom: 30px;
}

/* Kontakt */
#kontakt {
    margin-top: 70px;
    margin-bottom: 70px;
}
#kontakt h2 {
    margin-bottom: 60px;
}
#kontakt h4 {
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #00acd6;
}
#kontakt .col-icon {
    margin-bottom: 30px;
}
#kontakt .col-icon p {
    margin-bottom: 0;
}
#kontakt p.large {
    padding-top: 18px;
    font-size: 22px;
    line-height: 22px;
}
#kontakt .col-sm-4:nth-of-type(2) {
    border-right: 1px solid #cfd1d2;
    border-left: 1px solid #cfd1d2;
}
#kontakt hr {
    margin-top: 10px;
    margin-bottom: 35px;
}

/* Impressum */
body.imprint h2 {
    margin-top: 50px;
}
body.imprint p {
    margin-bottom: 30px;
}

/* Footer */
footer {
    height: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 25px;
    background-color: #00acd6;
}
footer img {
    margin-top: 40px;
}
footer p {
    margin-top: 40px;
    color: #00323c;
}
footer a {
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none !important;
    text-transform: uppercase;
}

/* Media Queries */
@media only screen and (max-width: 991px) {
    #header div.header-box {
        max-width: 350px;
    }
    #header div.header-box-1 {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    nav.navbar {
        min-height: 54px;
    }
    nav .navbar-brand img {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    nav.navbar-default ul {
        margin-top: 7px;
    }

    #header div.header-box-wrapper {
        position: relative;
    }
    #header div.header-box-1 {
        margin-top: 0;
    }
    #header div.header-box {
        max-width: 100%;
        width: 100%;
    }

    #praxis .col-sm-6:nth-of-type(1) p {
        margin-bottom: 47.7px;
    }

    footer {
        font-size: 13px;
        line-height: 20px;
    }
    footer p {
        margin-top: 45px;
    }
    body.imprint h2 {
        font-size: 18px;
        line-height: 26px;
    }
}
