
/*general*/
html, body {

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #58585a;
}
h1,h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #00acd6;
}
h3 {
    text-align: center;
    color: #00acd6;
    margin-top: 1px;
    font-size: 25px;
}
h3:after {
    border-bottom: 1px solid #00acd6;
    content: "";
    width: 75px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
h3:before {
    margin-top: 50px;
}
h5 {
    margin-bottom: 15px;
    font-weight: bold;
    color: #00acd6;
}
.text-center {
    text-align: center;
}

.container {
    max-width: 970px;
    margin-bottom: 50px;
}

/*menu*/
nav {
    font-size: 16px;
}
nav ul a {
    text-transform: uppercase;
    color: #58585a;
}
footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
footer a {
    color: white;
    text-decoration: none !important;
    font-size: 20px;
}
.navbar-nav>li>a {
    font-weight: bold;
    margin-bottom: -35px;
}
.navbar-brand > img {
    margin-top: 36px;
}

/*Haupt Seite*/


.hauptseite-bg {
    background-image: url("../images/background/mg_startbild@2x.jpg"); width: 100%; min-height: 500px; max-height: 600px;
}
.header-bild {
    width: 100%;
}


section p {
    margin-bottom: 25px;
}

.img-center {
    margin: 0 auto;
}
.col-md-6 p {
    margin-bottom: 22px;
}
.marcusBild {
    width: 400px;
    height: 300px;
}
.arrow {
    background-image: url(../images/bullet_arrow.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 11px 15px;
    padding-left: 1.6em;
    margin-bottom: 25px;
    color: #58585a;
    font-weight: bold;
}
.marcus td {
    width: 500px;
}
.marcus span {
    font-weight: bold;
    margin-right: 20px;
}
.member img {
    width: 60%;
    height: 60%;
}
.member .arrow {
    margin-bottom: 2px !important;
    margin-left: 2%;
    text-transform: uppercase;
}
.member p{
    margin-left: 6%;
}
.member .col-md-4 {
    text-align: center;
}
.team p {
    margin-bottom: 60px;
    margin-top: 50px;
    padding-left: 1.6em;
}
.praxis-leistungen {
    background-color: #f4f3f0;
}
/*.praxis-leistungen .container {
    height: 1343px;
}*/
.praxis-leistungen h3 {
    margin-top: 72px;
}
.praxis-leistungen h4{
    background-image: url(../images/icon_check.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 41px 41px;
    padding-left: 3.6em;
    padding-top: 0.2em;
    margin-bottom: 25px;
    font-weight: bold;
    height: 41px;
    border-bottom: 1px solid #58585a;
}
.row .col-md-4 img {
    width: 50px;
    float: right;
    margin-bottom: 25px;

}
.row .col-md-8 p {
    font-weight: bold;
    color: #58585a;
    margin-bottom: 30px;
}
.row .col-md-4 hr {
    width: 100%;
    color: #B6A8A8;
    border: none;
    height: 1px;
    background-color: #B6A8A8;
}
.short-schrift-praxis {
    margin-top: 18px;
}
.praxis {
    background-image: url(../images/icon_praxis.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px 55px;
    padding-top: 4em;
    padding-left: -0.4em;
}
.telefon {
    background-image: url(../images/icon_telefon.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 55px 55px;
    padding-top: 4em;
    padding-left: -0.4em;
    margin-bottom: 45px;
}
.email {
    background-image: url(../images/icon_email.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 55px 55px;
    padding-top: 4em;
    padding-left: -0.4em;
    margin-bottom: 45px;
}
.bold-schrift {
    font-weight: bold;
    color: #58585a;
}
.kontact .bold-schrift {
    text-align: center;
}
.kontact .row .col-md-4 figure img {
    margin-right: 50%;
    height: 50px;
    float: none;
    margin-left: 37%;
}
.kontact h4 {
    text-align: center;
    color: #00acd6;
    margin-right: 15px;
    margin-top: -10px;

}
.kontact span  {
    margin-left: 27%;
}
.kontact p {
    margin-left: 15%;
}
.kontact .col-md-4 h3 {
    color: #58585a !important;

}
.kontact .col-md-4 h3:after {
    border-bottom: none !important;
}
.sprechzeit p {
    font-weight: normal !important;
}
.sprechzeit .bold-schrift {
    font-weight: bold !important;
}
.sprechzeit .col-md-8 p {
    margin-bottom: 20px;
}
/*Slider*/
.stoerer {
    position: absolute;
    z-index: 1;
    right: 40px;
    top: -45px;
}

section #mgSlider {
    margin-bottom: 60px;
}

img .previous {

}
img .next {

}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control {
    top: 50%;
    left: 0;
    width: 50px;
    margin-top: -25px;
}
/*Footer*/
.footer-info {
    background-color: #00acd6;
}
footer h4 {
    color: white;
    margin-top: 30px !important;
}

footer p {
    margin-bottom: 40px;
}
footer img {
    margin-top: 30px;
}


